/* About Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.backgroundAbout {
  background-image: url("../../IMAGES/LOGO_image.jpg");
  background-size: 40px;
  background-position:center center;
  background-repeat: repeat;
  background-attachment: fixed;
}
