/* ContactInfo Styles */

.contactBox {
  background-color: #FFFFFF;
  color: #000000;
  padding: 40px;
  width:50vw;
  height: auto;
  margin:30px;
  background-position: center;
  font-family: 'Poiret One';
  border-color: #000000;
  border: 6px solid #000000;
  box-shadow: 8px 8px #EE3B76;
  justify-content: center;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content:space-between;
}

.contactLinks {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 100px;
  text-align: center;
  justify-content: center;

}

.contactLinks {
  color: #000000;
  background-position: right;
  font-family: 'Poiret One';
  font-size: 2em;
  font-weight: bolder;
  justify-content: center;
  white-space: normal;
  text-align: center;
  font-variant: small-caps;
}

.topSection p {
  color: #000000;
  background-position: left;
  font-family: 'Poiret One';
  font-size: 1.6em;
  justify-content: center;
  word-spacing: .08em;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  padding-bottom: 20px;
}
.bottomSection p {
  color: #000000;
  background-position: left;
  font-family: 'Poiret One';
  font-size: 1.7em;
  font-weight: bold;
  justify-content: center;
  word-spacing: .05em;
  line-height: 50px;
  text-align: center;
}

.header p {
  color: #000000;
  font-family: 'Poiret One';
  font-style:normal;
  font-size: 3em;
  font-weight:bolder;
  text-align: center;
  line-height:70px;
  word-spacing: normal;
  padding-bottom: 20px;
  font-variant: small-caps;
}
