/* ContactInfo Mobile Styles */
/*@media {
  .links a {
    color: #000000;
    background-position: right;
    font-family: 'Poiret One';
    font-size: 2em;
    font-weight: bolder;
    justify-content: center;
    white-space: normal;
    width: 50vw;
    height: auto;
    flex-wrap: wrap;
  }

}*/
