/* Portfolio Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}



.portfolioBackground {
  background-image: url("../../IMAGES/back_repeat.jpg");
  background-size: 200px;
  background-position:center center;
  background-repeat: repeat;
  background-attachment: fixed;
}
