/* Blog Styles */

.blogBox {
  background-color: #FFFFFF;
  color: #000000;
  padding: 30px;
  width: 50vw;
  flex-wrap: wrap;
  height: auto;
  background-position: left;
  margin: 50px;
  font-family: 'Poiret One';
  font-size: 1.5em;
  font-weight: bold;
  border-color: #000000;
  border: 6px solid #000000;
  box-shadow: 8px 8px #EE3B76;
  justify-content: center;
  flex-shrink: 1;

}

.blogBox a {
  height: auto;
  color: #000000;
  font-family: 'Poiret One';
  font-size: 1.5em;
  font-weight: bold;
  text-align:left;
}

.blogBox b {
  height: auto;
  color: #000000;
  font-family: 'Poiret One';
  font-size: .8em;
  font-weight: bold;
  text-align: justify;
  font-variant: small-caps;
}

.blogBox footer {
  height: auto;
  color: #EE3B76;
  font-family: 'Poiret One';
  font-size: .8em;
  font-weight: bold;
  text-align: justify;
  font-variant: small-caps;
}

.blogBox p {
  height: auto;
  font-family: 'Poiret One';
  font-size: 1em;
  line-height: normal;
  font-weight: bold;
  text-align: justify;
  text-overflow: ellipsis;
  word-spacing: normal;
}

.blogBox q {
  height: auto;
  font-family: 'Poiret One';
  font-size: .7em;
  line-height: 10px;
  font-weight:normal;
  word-spacing: normal;
}
