/* NavBar Styles */
.navBar {
  display:flex;
  flex-direction:row;
  background:#EE3B76;
  background-size: cover;
  width:auto;
  height:150px;
  justify-content:space-between;
  align-items:center;
  border-color: #000000;
  border-width: thick;
  border-style:solid;

}

.siteName {
  width:40%;
  font-size:5.2em;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  font-variant:small-caps;
  font-family: 'Poiret One', cursive;
  line-height:40px;
  font-weight:bold;
  color:#FFFFFF;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 2;
}



.logo {
  margin-left: 10px;
  margin-right: 10px;
  width: 125px;
}

.nav {
  width:auto;
  display:flex;
  flex-direction:row;
  margin-left: 0px;
  float: right;
  flex-shrink: 4;
  flex-wrap: wrap;
}

.navButton {
  color:#FFFFFF;
  font-size:1.4em;
  text-decoration:none;
  align-items: center;
  float: right;
  padding-right: 10px;
  padding-left: 5px;
  margin-right: 10px;
  margin-left: 5px;
  font-weight:bold;
  font-variant:small-caps;
  font-family:"Poiret One";
}

.menuIcon {
  display:none;
}
