/* NavBar Mobile Styles */
@media (max-width: 425px) {

  .siteName {
    width:35%;
    font-size:3em;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-variant:small-caps;
    font-family: 'Poiret One', cursive;
    line-height:40px;
    font-weight:bold;
    color:#FFFFFF;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .siteTitle b {
    width:25%;
    margin-left: 10px;
    font-size:1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-variant:small-caps;
    font-family: 'Poiret One', cursive;
    line-height:20px;
    font-weight:bold;
    color:#FFFFFF;
    flex-wrap: wrap;
  }

  .nav {
    display:none;
  }


  .menuIcon {
    display:flex;
    margin-right:15px;
    font-size:1.5em;
  }

  .navMobile {
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  }


  .navButton {
    padding:10px;
    margin:0 auto;
    margin-top:10px;
    background:#000000;
    width:90%;
    border-radius:5px;
    display:flex;
  }
}
