/* NavBar Styles */
.navBar {
  display:flex;
  flex-direction:row;
  background:#EE3B76;
  background-size: cover;
  width:auto;
  height:100px;
  justify-content:space-between;
  align-items:center;
  border-color: #000000;
  border-width: thick;
  border-style:solid;

}

.siteName {
  width:35%;
  font-size:4em;
  
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  font-variant:small-caps;
  font-family: 'Poiret One', cursive;
  line-height:40px;
  font-weight:bold;
  color:#FFFFFF;
  flex-wrap: wrap;
  flex-direction: row;
}

.siteTitle b {
  width:25%;
  font-size:2em;
  margin-top: 60px;
  padding-top: 60px;
  margin-bottom: 10px;
  font-variant:small-caps;
  font-family: 'Poiret One', cursive;
  line-height:20px;
  font-weight:bold;
  color:#FFFFFF;
  flex-wrap: wrap;
  flex-direction: row;
}

.logo {
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}

.nav {
  width:auto;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin-right:10px;
  margin-left: 50px;
}

.navButton {
  color:#FFFFFF;
  font-size:1.4em;
  text-decoration:none;
  align-items: center;
  padding-right: 30px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 5px;
  font-weight:bold;
  font-variant:small-caps;
  font-family:"Poiret One";
}

.menuIcon {
  display:none;
}
