/* BlogText Styles */
.blogTextBox {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
  width: 50vw;
  height:auto;
  flex-wrap: wrap;
  flex-direction: column;
  background-position: left;
  margin: 50px;
  margin-top: 40px;
  border-color: #000000;
  border: 6px solid #000000;
  box-shadow: 8px 8px #EE3B76;
  flex-shrink: 2;
  display: flex;
  align-items: center;
  align-content: center;
}

.blogTextBox:focus {
  outline: none;
}

.blogTitle {
  background-color: #EE3B76;
  color: #000000;
  height: auto;
  width:auto;
  margin: 50px;
  padding: 30px;
  text-align: center;
  font-family: 'Poiret One';
  font-size: 2em;
  flex-wrap: wrap;
  flex-direction: column;
}

.blogTitle:focus {
  outline: none;
}

.blogContent p {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
  width: 40vw;
  text-overflow: ellipsis;
  height:50vh;
  word-wrap:normal;
  flex-wrap: wrap;
  flex-direction: column;
  background-position: left;
  margin: 40px;
  font-family: 'Poiret One';
  font-size: .6em;
  font-weight: bold;
  border-color: #000000;
  border: 6px solid #000000;
  box-shadow: 8px 8px #EE3B76;
  justify-content: center;
  flex-shrink: 1;
}

.blogContent:focus {
  outline:none;
}

.blogCategory {
  background-color: #EE3B76;
  color: #000000;
  height: auto;
  width:auto;
  margin: 50px;
  padding: 30px;
  text-align: center;
  font-family: 'Poiret One';
  font-size: 2em;
  font-weight: bold;
}

.blogCategory:focus {
  outline: none;
}

.blogButton {
  outline:none;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  align-content: center;
}

.postButton {
  background-color: #EE3B76;
  color: #FFFFFF;
  width:auto;
  height: auto;
  margin: 30px;
  padding: 20px;
  justify-content: center;
  word-spacing: normal;
  font-family: 'Poiret One';
  font-size: 2em;
}

.postButton:focus {
  outline: none;
}
